{% import "bento.jinja" as bento %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Photos in Review</title>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <script type="text/javascript" src="/static/htmx.js"></script>
    <script type="text/javascript" src="/static/d3.js"></script>
    <script type="text/javascript" src="/static/plot.js"></script>
</head>

<body>
    <div class="container">
        <h1>Photos in Review</h1>
        <form hx-post="/stats/new" hx-swap="outerHTML" class="stats">
            <select name="year">
                {% for i in range(1998,2025) | reverse %}
                <option value={{i}}>{{i}}</option>
                {% endfor %}
            </select>
            <button type="submit">Let's Go</button>
        </form>
    </div>
</body>

</html>